{
    "web": {
        "issuer": "https://myopenid-server.domain.tld/auth/realms/my-realm",
        "auth_uri": "https://myopenid-server.domain.tld/auth/realms/my-realm/protocol/openid-connect/auth",
        "client_id": "api-my-client-id",
        "client_secret": "ffffffff-ffff-ffff-ffff-ffffffffffff",
        "redirect_uris": [
            "http://localhost:5000/*"
        ],
        "userinfo_uri": "https://myopenid-server.domain.tld/auth/realms/my-realm/protocol/openid-connect/userinfo",
        "token_uri": "https://myopenid-server.domain.tld/auth/realms/my-realm/protocol/openid-connect/token",
        "token_introspection_uri": "https://myopenid-server.domain.tld/auth/realms/my-realm/protocol/openid-connect/token/introspect",
        "admin_uri": "https://myopenid-server.domain.tld/auth/admin/realms/my-realm"
    }
}